@model ComicBookApp.Models.ComicBook[]

@{
 ViewBag.Title = "Comic Books";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        @foreach(var comic in Model)
        {
            <div class="col-md-3">
                <h4>@Html.ActionLink(comic.DisplayText, "Detail", new {id = comic.ID})</h4>
                <a href="@Url.Action("Detail", new {id = comic.ID})">
                <img src="/Images/@comic.CoverImageFileName" 
                     alt="@comic.DisplayText" 
                    class="img-responsive" />
                </a>
            </div>
        }

    </div>
</div>